*{
    margin:  0px;
    padding: 0px;
}

.wrapper{
    width: 1000px;
    margin: 0px auto;
}

.head{
    margin-left: 40px;
    margin-top: 30px;
}
.head>img{
    width: 7%;
    height: 7%;
}
.head>h2{
    font-size: 40px;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 6px;
}
.head>h2>span{
    color:#326ea2 ;
}

.head>h3{
    width: 1000px;
    height: 50px;
    background-color:#326ea2 ;
    color: white;
    margin-right: 40px;
    font-size: 28px;
    margin-top: -15px;
}

.greybackground{
    width: 1000px;
    height: 800px;
    background: linear-gradient(lightgray,white);
    margin-right:40px ;
    margin-left: 40px;
    display: inline-block;
}

.leftBody> h4{
    padding-bottom: 15px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 10px;
}

.leftBody>h4>span{
    color: red;
}

.leftBody>h5{
    padding-bottom: 10px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 10px;
}

.leftBody>h5>p>span{
    color:#326ea2 ;
}
.watchVideo>input{
    background-color: #326ea2;
    color: white;
    width: 170px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 11px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}

.leftBody>h6{
    width: 170px;
    height: 2px;
    background-color: lightgrey;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.moreRe>input{
    background-color: orange;
    color: white;
    width: 170px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 11px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}

.imageBackGr{
    width: 170px;
    height: 260px;
    background-image: url("../image/ad_background.png");
    margin-left: 10px;
}

.leftBodyP{
    color: white;
    text-align: center;
}

.imageBackGr>img{
    width: 100px;
    height: 150px;
    margin-left: 25px;
}

#input1{
    background-color: lightskyblue;
    color: white;
    width: 150px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 12px;
    margin-left: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}

.rightBody{
  position: relative;
    top: -490px;
    right: -210px;
}
.rightBodyP1{
    display: inline-block;
}

.rightBodyP2{
    display: inline-block;
}
.rightBodyP3{
    display: inline-block;
}

#home{
    width: 30px;
    height: 30px;
}

#phone{
    width: 40px;
    height: 40px;
}
.rightBodyTopImage{
    float: right;
    margin-right: 250px;
}

#rightBodyH6{
    background-color: grey;
    width: 750px;
    height: 2px;
    margin-top: 40px;
    margin-left: 20px;
}

.rightBodyH5{
    color: blue;
    margin-left:20px ;
    margin-top: 10px;
}

#rightClients{
    margin-left: 20px;
}

.colorBlue{
    color: lightskyblue;
    font-weight: bold;
}

#rightUl{
        margin-left: 60px;
}

#client_server{
    width: 300px;
    margin-left: 150px;
    margin-top: 20px;
}

.ol{
    margin-left: 60px;
}

.ol>li{
    margin-top: 5px;
}

.bottomP{
    margin-left: 20px;
}

#html{
    width:100px;
    margin-top: 5px;
    margin-left: 10px;
}

#bottom{
    width: 500px;
    height: 100px;
    margin-left: 40px;
    margin-top: 40px;
    display: inline-block;
    border-style: solid solid none solid;
    border-color: lightskyblue;
}

.bottom2{
    position: relative;
    left: 100px;
    bottom: 100px;
}
