
/**{*/
    /*margin: 0px;*/
    /*padding: 0px;*/
/*}*/
.wrapper{
    width: 1000px;
    height: auto;
    background-color:#f8f8f8 ;
    margin: 0px auto;
}

.first{
    height: 80px;
    display: block;
}

.first > h2{
    font-size: 40px;
    font-family: Algerian;
    float: left;
    margin: 15px;
}
.first> h3{
    font-family: Arial;
    float:  right;
    margin: 30px;
}

.second{
    background: linear-gradient(#2d1c21, #ffffff);
}
.second0{
    display: inline-block;
    position: center;
    margin: 20px;
}
.second11{
    float: left;
    display: inline-block;
    margin: 10px;
    margin-left: 40px;
}
.second12about {
    width: 400px;
    height: 300px;
    float: right;
    background-color: blanchedalmond;
    margin: 10px;
    display: inline-block;
    margin-left: 50px;
}
.about{
   /*vertical-align: top;*/
    background-color:grey ;
    color: white;
    margin: 0px;
}
.second12about>.hello{
    width: 400px;
    height: 200px;
    background: linear-gradient(darksalmon,antiquewhite);
    margin: 0px;

}

.second13La{
    width: 300px;
    height: 500px;
    margin-left: 20px;
    display: inline-block;
}


.Tech{
    width: auto;
    height: 200px;
    background: linear-gradient(darksalmon,antiquewhite);
    margin: 0px;

}

.littlepicture{
    background: linear-gradient(darksalmon,antiquewhite);
    padding-bottom: 5px;
}
.littlepicture img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
}
.littlepicture > input{
    width: auto;
    height: 25px;
    background-color: green;
    position: center;
    color: white;
    border-radius: 15px;
    margin-left: 90px;
}

.second01{
    display: inline-block;
}

.second12 {
    margin-left: 370px;
}

.second12 .p2{
    margin-left: -50px;
}
.second12  img{
    width: 20px;
    height: 20px;
    margin: 0px;
    vertical-align: bottom;
}

.three{
    height: 50px;
    background-color: darkslateblue;
}

.three input{
    height: 30px;
    background-color: blue;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 400px
}

